.App {
  text-align: center;
}

.container{
  height: 500px;
  width: 500px;
  border: 1px solid black;
  margin: 50px auto;
}

#canvas-1, #canvas-2{
  margin: 30px auto;
  border: 1px solid black;
}
